body{
    place-content: center;
    display: grid; 
    
}

#contenedor-resultado-selecc{ 
    background-color: rgb(202, 200, 200);
    padding: 10px;
    font-size: large;

}
img{
    width: 200px;
}

#contenedor-producto{
place-content: center;
display: grid;
background-color: rgb(146, 129, 160);
padding: 10px;
border: 1px solid black;

}